@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Bebas+Neue&family=Oswald&family=Roboto&display=swap');

* {
  font-family: 'Audiowide', cursive;
}

main,
nav {
  background-image: url(https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fi.imgur.com%2F3V298SV.jpg&f=1&nofb=1);
  background-size: cover;
  background-position: center;
}